<div id="spreadsheet" style="border:1px solid black;width:100%;height:300px">grid goes here!</div>

<button id="getinfo">Get grid info</button>
<button id="addrow">Add predefined row</button>
<button id="addemptyrow">Add empty row</button>
<button id="deleterow">Delete row</button>
<input type="search" id="search" />