<!DOCTYPE html>
<html>
<head>
  <title>SlickgridRequirejsRails</title>
  <%= stylesheet_link_tag    "slickgrid-requirejs-rails/application", :media => "all" %>
  <%= javascript_include_tag "slickgrid-requirejs-rails/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
